.bg-reservations {
  background-color: var(--primary-green);
  grid-template-rows: 20px auto auto;
}

.bg-reservations h3{
  text-align: center;
  padding-bottom: 2.5rem;
  color: var(--secondary-cream);
}

input.cta{
  cursor: pointer;
}