form{
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}

.booking-form label {
  display: block;
  color: var(--primary-yellow);
  padding-bottom: 0.5rem;
}

.booking-form input {
  display: block;
}

.booking-form label {
  text-align-last: left;
  color: var(--primary-yellow);
}

.booking-form label, .booking-form input{
  display: block;
}

.booking-form label{
  padding-bottom: 0.5rem;
}

label {
  padding-bottom: 0;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

input, select {
  display: block;
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto;
  width: 250px;
}

form input[type=submit]{
  margin-top: 2rem;
}

form input:disabled{
  background-color: var(--highlight-light-grey);
}

.error{
  color: var(--highlight-light-grey);
}

button.cta {
  margin: 2rem auto 0;
}