.booking-form {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-column: 1 / -1;
  grid-row: 1 / span 3;
  border-radius: 16px;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
  padding: 1.5rem;

}

.booking-form label {
  display: block;
  color: var(--primary-yellow);
  padding-bottom: 0.5rem;
}

.booking-form input {
  display: block;
}

label {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

input, select {
  display: block;
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto 1rem;
  width: 250px;
}