footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 45px auto 45px auto 45px;
  background-color: var(--primary-green);
}

.footer-image{
  grid-column: 2 / 4;
  grid-row: 2;
  display: grid;
  justify-content: center;
}

.footer-info{
  grid-column: 2 / 4;
  grid-row: 4;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.doormat-nav,.contact{
  flex-basis: calc(50% - 10px);
}

footer h3{
  color: var(--primary-green);
}

footer ul{
  list-style-type: none;
}

footer ul li, footer ul li a {
  font-family: var(--secondary-font);
  color: var(--highlight-light-grey);
  font-size: 18px;
  text-decoration: none;
}

footer ul li a:hover{
  color: var(--primary-yellow);
}

@media screen and (min-width: 768px) {
  footer {
    grid-template-columns: repeat(12, minmax(auto, 90px));
    grid-template-rows: 45px auto 45px;
  }

  .footer-image{
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .footer-image img {
    width: 100px;
    max-width: 100px;
  }

  .footer-info {
    grid-column: 4 / 12;
    grid-row: 2;
  }
}

@media screen and (min-width: 1025px) {
  footer {
    grid-template-columns: minmax(0px, 1fr) repeat(12, minmax(auto, 90px)) minmax(0px, 1fr);
  }
  .footer-image{
    grid-column: 4 / 6;
  }

  .footer-image img{
    width: initial;
    max-width: initial;
  }

  .footer-info{
    grid-column: 6 / 12;
    grid-row: 2;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .doormat-nav, .contact{
    padding-top: 2rem;
    display: inline-block;
    flex-basis: 29%;
  }

  .social-media{
    padding-top: 2rem;
    display: inline-block;
    flex-basis: 42%;
  }
}